{{#if categories.length}}
    <div class="category-container">
        {{#each categories}}
            <div class="category-item"><a href="/{{ name }}">
                <span class="category-item_icon"></span>
                <span class="category-item_text">{{ title }}</span></a></div>
        {{/each}}
    </div>
{{^}}
    <p>Категории не найдено!</p>
{{/if}}