<a class="categories__category" href="{{ href }}">
    <span class="categories__icon categories__icon_background_{{ backgroundClassName }}"></span>
    <span class="categories__name">{{ name }}</span>
</a>