<h1>Категории новостей</h1>
<section class="categories">
    {{#each categories}}
        <div class="category">
            <a href="/categories/{{ category }}" class="category__link">
                <img src={{imgUrl}} alt="imgAlt" class="category__image">
                <span>{{ categoryName }}</span>
            </a>
        </div>
    {{/each}}
</section>