{{#if categories.length}}
    <ul class="categories-list">
        {{#each categories}}
            <li class="category-item">
                <a class="category-item__link" href="/news/{{ name }}/{{ country }}">
                    <i class="fas fa-{{ icon }} category-item__icon"></i>
                    {{ label }}
                </a>
            </li>
        {{/each}}
    </ul>
{{^}}
    <p class="error">Categories not found!</p>
{{/if}}
