<div class="news-category">
    <div class="news-category__header">Категории новостей</div>
    <div class="categories">
        {{#each category}}
        <div class="categories__category-name">
            <img src="/newsIcons/{{englishName}}.png" alt="" class="categories__category-icon">
            <a href="/news/{{englishName}}" class="categories__category-link">{{russianName}}</a>
        </div>
        {{/each}}
    </div>
</div>