<div class="categories">
    <h3>Категории новостей</h3>
    <ul class="categories__list">
        {{#each categories}}
            <li class="categories__item">
                <a class="categories__item-link" href="/{{ url }}">{{ title }}</a>
            </li>
        {{/each}}
    </ul>
</div>
