<div class="news-category">
    <div class="news-category__header">Категории новостей</div>
    <div class="categories">
        {{#each category}}
        <div class="categories__category-name">
            <img src="/newsIcons/{{name}}.png" alt="" class="categories__category-icon">
            <a href="/news/{{ name }}" class="categories__category-link">{{ name }}</a>
        </div>
        {{/each}}
    </div>
</div>