<main class="categories">
    <h2>Категории новостей</h2>
    <ul>
        {{#each categories}}
            <li>
                <a href="/{{ name }}">{{ displayName }}</a>
            </li>
        {{/each}}
    </ul>
</main>