<aside class="daily-weather">
    <time class="daily-weather__date">{{date}}</time>
    <div class="daily-weather__content">
        <div class="daily-weather__temp">{{temperature}}&deg;C</div>
        <div class="daily-weather__wind-speed">{{windSpeed}} <sup>м</sup>/<sub>с</sub></div>
    </div>
</aside>
