<link href="/footer/footer.css" rel="stylesheet">
<footer>
    <div class="footer__about-service footer__about-service-left-part">© graf-m-96</div>
    <div class="footer__about-service footer__about-service-right-part">2018</div>
</footer>
