<head>
    <link rel="stylesheet" href="css-for-partials/footer.css" media="screen">
</head>

<footer class="footer">
    <div class="editor">&copy;{{aboutAuthor.footer.dev}}</div>
    <div class="year">{{aboutAuthor.footer.year}}</div>
</footer>
