<footer class="footer">
    <div class="footer__content">
        <small class="footer__copyright">&copy; {{ author }}</small>
        <span class="footer__year">{{ year }}</span>
    </div>
</footer>