<div class="forecasts">
    {{#each forecast}}
        <div class="forecast">
            <div class="forecast__date">{{date}}</div>
            <div class="forecast__temp">{{temp}}°С</div>
            <div class="forecast__wind">{{wind}} м/с</div>
        </div>
    {{/each}}
</div>
