<<<<<<< HEAD
<header class="header">
    {{#if news}}
    <a href="/{{query}}" class="header__main-link">На главную</a>
    {{/if}}
    <span class="header__name">{{main.header}}</span>
</header>
=======
<header>
    {{#if news}}
    <a href="/{{query}}" class="header__main-link">На главную</a>
    {{/if}}
    <span class="header__name">{{ main.header }}</span>
</header>
>>>>>>> a2fefc59ae1d93e7c33b0d9143af6f5deeaedd54
