<header class="header {{innerClass}}">
    {{#if returnToMain}}
        <a href="/{{search}}" class="header__return-link">На главную</a>
    {{/if}}
    <h1 class="header__title">Название</h1>
</header>
