<head>
    <link rel="stylesheet" href="css-for-partials/header.css" media="screen">
</head>

<header class="header">
    <div class="header__name-service">{{aboutAuthor.header.name}}</div>
</header>
