<header class="header">
    <div class="header__controls">
        <a class="header__back link" href="{{ backLink }}">{{ backTitle }}</a>
        <span class="header__title">{{ header }}</span>
    </div>
</header>
