<header class="header page__header">
    {{#with backLink}}
        <a class="header__back-link text text_nowrap" href="{{url}}">{{caption}}</a>
    {{/with}}
    <h1 class="header__title">{{title}}</h1>
</header>
