<link href="/header/header.css" rel="stylesheet">
<header>
    <a class="header__button-to-home" href="../?{{query}}">На главную</a>
    <div class="header__service-title">Сервис "Илон слишком занят"</div>
</header>
