<header class="header page__header">
    {{#with back}}
        <span>
            <a class="header__back" href="{{url}}">{{backTitle}}</a>
        </span>
    {{/with}}
    <span class="header__title">{{title}}</span>
</header>
