<main class="news">
    <div class="news-categories">
        <a class="news-categories__category" href="/news/business">Бизнес</a>
    </div>
    <div class="news-categories">
        <a class="news-categories__category" href="/news/entertainment">Развлечения</a>
    </div>

    <div class="news-categories">
        <a class="news-categories__category" href="/news/everything">Общее</a>
    </div>

    <div class="news-categories">
        <a class="news-categories__category" href="/news/health">Здоровье</a>
    </div>

    <div class="news-categories">
        <a class="news-categories__category" href="/news/science">Науки</a>
    </div>

    <div class="news-categories">
        <a class="news-categories__category" href="/news/sports">Спорт</a>
    </div>

    <div class="news-categories">
        <a class="news-categories__category" href="/news/technology">Технологии</a>
    </div>
</main>

