<<<<<<< HEAD
<div class="news">
    <div class="news__list">{{> articles}}</div>
</div>
=======
<div class='news'>
    <div class='news__list'>{{> articles}}</div>
</div>
>>>>>>> a2fefc59ae1d93e7c33b0d9143af6f5deeaedd54
