<div class="topics">
    {{#each topics}}
    <div class="topic">
        <img class="topics__img" src="{{ picture }}" alt='текст'>
        <a class="topics__name" href="/{{ name }}">{{ description }}</a>
    </div>
    {{/each}}
</div>