 <div class="weather-widget">
    <span class="weather-widget__city"></span>
    <img class="weather-widget__icon" src="">
    <div class="weather-widget__details"></div>
    <div class="weather-widget__forecast"></div>
 </div>
