<div class="weatherday">
    <div class="weatherday__date">{{date}}</div>
    <div class="weatherday__info">
        <div class="weatherday__temp">{{temp}} &deg;C</div>
        <div class="weatherday__wind">{{windSpeed}} м/с</div>
    </div>
</div>