{{#if weather.length}}
    <ul>
        {{#each weather}}
            <li>
                {{city}}
                {{date}}
                {{temperature}}
                {{windSpeed}}
            </li>
        {{/each}}
    </ul>
{{^}}
    <p>Error with weather loading</p>
{{/if}}
