<div class="weather">
    <div class="weather__title">
        {{!-- {{ country }} --}}
        Екатеринбург
    </div>
    <div class="weather__body">
        <img class="weather__body__image" src="https://www.metaweather.com/static/img/weather/lc.svg" width="100" height="100">
        <div class="weather__body__details">
            <div class="weather__body__details__temp">
                <div class="weather__body__details__temp__icon">t</div>
                {{!-- {{ deg }} --}}
                +3&#176;С
            </div>
            <div class="weather__body__details__wind">
                <div class="weather__body__details__wind__icon">&#127788;</div>
                <div class="weather__body__details__wind__value">
                    {{!-- {{ wind }} --}}
                    4 м/с
                </div>
            </div>
        </div>
    </div>
</div>