<header class="weather-header"></header>
<img class="weather-image">
<article class="weather-info"></article>
<div class="weather-info__temp"></div>
<div class="weather-info__wind"></div>
<table class="weather-info__future table">
    <tr>
        <th class="table__day-one"></th>
        <th class="table__day-two"></th>
        <th class="table__day-three"></th>
        <th class="table__day-four"></th>
        <th class="table__day-five"></th>
    </tr>
</table>