<div class="weather">
    <div>
        <div class="weather__city">{{ 0.city }}</div>
        <div class="weather__now">
            {{ 0.temp }} &deg;С<br>
            {{ 0.windSpeed }} м/c
        </div>
    </div>
    <div class="weather__image">
        <img src="https://www.metaweather.com/static/img/weather/{{ 0.weatherStateAbbr }}.svg" alt="картинка погоды">
    </div>
    <div class="wather__consolidation">
        {{#each this}}
            {{> weatherday this}}
        {{/each}}
    </div>
</div>

