<div class="weather">
    <div>
        Екатеринбург
    </div>
    <div>
        <img src="https://image.flaticon.com/icons/svg/17/17712.svg" width="50" height="50">
        <div>
            <div>
                <div>temperature</div>
            </div>
            <div>
                <div>💨</div>
            </div>
        </div>
    </div>
</div>
