<div class="weather__widget">
    <img src="https://www.metaweather.com/static/img/weather/{{ weather.today.state.abbr }}.svg"
         alt="{{ weather.today.state.name }}"
         class="weather__widget__state">
        
</div>