{
    "extends": "hrundel/node",
    "globals": {
        "describe": true,
        "it": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true
      }
    }
}
