{
    "extends": "hrundel/node",
    "globals": {
        "describe": true,
        "it": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}
