<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ siteName }} - {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/icofont.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    <main class="main">
        <a href="/" class="main__heading">{{ siteName }}</a>
        {{> weather forecast=forecast }}
        {{{ body }}}
    </main>
</body>
</html>