<!doctype html>
<html>
<head>
    <title>Handlebars demo</title> </head>
<link href="./styles/hello.css" rel="stylesheet">
<body>

<h1>Elon Mu$$$$k</h1>
{{> weather}}

{{{body}}}
    <ul><h2>Категории новостей</h2>
        <li><a href="./news?category=business">Бизнес</a></li>
        <li><a href="./news?category=enjoy">Развлечения</a> </li>
        <li><a href="./news">Общее</a> </li>
        <li><a href="./news?category=health">Здоровье</a> </li>
        <li><a href="./news?category=science">Наука</a> </li>
        <li><a href="./news?category=sport">Спорт</a> </li>
        <li><a href="./news?category=tech">Технологии</a> </li>



    </ul>
</body>
</html>
