.article {
    position: relative;
    margin-bottom: 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    background: #f8f8f8;
    box-shadow: 0 9px 14px rgba(0,0,0,.1);
    padding: 10px;

    display: grid;
    grid-gap: 10px;
    grid-template-areas: "title title date"
                         "image descr descr"
                         "source source source";
}