<table class='cooltable'>
    {{#each people}}
        <tr style="width: 72px">
            <td >{{first}}</td>
            <td style="width: 32px">{{name}}</td>
            <td>{{profession}}</td>
            <td>{{born}}</td>
        </tr>
    {{/each}}
</table>
