<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
<header>
    <a href="/..">Вернуться на главную</a>
    <h1 class="page-name">{{ title }}</h1>
</header>
<main>
    <div>
        {{> weather}}
    </div>
    <hr>
    {{> news}}
</main>
<hr>
{{> footer}}
</body>
</html>
