<!DOCTYPE html>
<html>
<head>
    <title>Ура</title>

    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/weather.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body class="content">
    {{> header header}}
    {{> weather weather}}
<main>
    {{{body}}}
</main>
{{> footer}}
</body>
</html>
