<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Ошибка</title>
</head>
<body>
<a href="/">Перейти на главную</a>
<section>
    <article>
        Ой! Что-то пошло не так:
    </article>
    <article>
        {{ err }}
    </article>
</section>
</body>
</html>
