<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    {{>weather}}
    {{>categories}}
    {{>footer}} 
</body>
</html>
