<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MyNews</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    {{> header }}
    {{> weatherWidget weather}}

    <h3>Категории новостей:</h3>
    {{#each categories}}
        {{> category this}}
    {{/each}}

    {{> footer}}
</body>
</html>