<!DOCTYPE html>
<html lang={{ lang }}>
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
</head>
<body>
    {{> header}}
    {{> widget}}
    {{> newsCategories}}
    {{> footer}}
</body>
</html>