<!DOCTYPE html>
<html lang={{ meta.lang }}>
    <head>
        <meta charset={{ meta.charset }}>
        <title>{{ meta.title }}</title>
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/categories.css">
        <link rel="stylesheet" href="css/weather.css">
    </head>
    <body>
        <main>
            <header class="header">Новости</header>
            {{> weather}}
            {{> categories}}
            {{> footer}}
        </main>
    </body>
</html>