<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="/index.css" media="screen">
</head>
<body>
    <header class='logo'>#news_and_weather</header>
    {{> news }}
</body>
</html>