<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="/index.css" media="screen">
</head>
<body>
    <header>HEADER</header>
    {{> weather}}
    <a href="/news/business">Бизнес</a>
    <a href="/news/entertainment">Развлечения</a>
    <a href="/news/general">Общее</a>
    <a href="/news/health">Здоровье</a>
    <a href="/news/science">Науки</a>
    <a href="/news/sports">Спорт</a>
    <a href="/news/technology">Технологии</a>
    <footer>FOOTER</footer>
</body>
</html>
