<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/generalStyles.css" media="screen">
    <link rel="stylesheet" href="/index.css" media="screen">
</head>
<body>
        {{> header }}
        <hr>
        {{> weather }}
        <hr>
        <main>
            {{> newslist}}
        </main>
        <hr>
        {{> footer }}
    </main>
</body>
</html>
