<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" type="text/css"  href="/index.css">
</head>
<body>
    {{{body}}}
</body>
</html>