<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script defer
            src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<section class="page">
    {{{body}}}
</section>
</body>
</html>
