<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="header__title">{{ title }}</h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer class="footer">
            <div class="footer__copyright">&copy;bnastya</div>
            <date class="footer__date">2018</date>
        </footer>
    </div>
</body>
</html>