<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="css/styles.css" media="screen">
</head>
<body>
<main>
    {{> weather }}

    {{{ body }}}
</main>
<footer class="footer">
    <div class="copyright">Danmy</div>
    <date class="date">2018</date>
</footer>
</body>
</html>
