<!doctype html>
<html>
<head>
    <title>{{title}}</title> </head>
   <link rel="stylesheet" href="{{ staticBasePath }}hello.css" media="screen">
<body>

<h1>Elon Mu$$$$k</h1>
{{> weather}}

    <ul><h2>Категории новостей</h2>
        <li><a href="./news?category=business">Бизнес</a></li>
        <li><a href="./news?category=enjoy">Развлечения</a> </li>
        <li><a href="./news">Общее</a> </li>
        <li><a href="./news?category=health">Здоровье</a> </li>
        <li><a href="./news?category=science">Наука</a> </li>
        <li><a href="./news?category=sport">Спорт</a> </li>
        <li><a href="./news?category=tech">Технологии</a> </li>



    </ul>
</body>
<footer class="footer">
    <div class="footer__copyright">{{ copyright }}</div>
    <div class="footer__year">{{ year }}</div>
</footer>
</html>
