<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="/stylesheets/category.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/footer.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/header.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/index.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/news.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/weather.css" media="screen">
</head>
<body class="body">
    {{> newsHeader}}
    {{> weather}}
    {{> news}}
    {{> footer}}
</body>
</html>
