<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MyNews</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body>
    {{> header }}
    <a href={{homelink}}>На главную</a>
    {{> weatherWidget weather}}

    {{#each articles}}
        {{> article this}}
    {{/each}}

    {{> footer}}
</body>
</html>