<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
    <main class="container">
        {{> header document.header query=query}}
        {{> weather weather weather=document.weather}}
        <section class="news-container">
            {{#each news.articles}}
                {{> article}}
            {{/each}}
        </section>
        {{> footer document.footer}}
    </main>
</body>
</html>