<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="/index.css" media="screen">
</head>
<body>
    <header><a href="/">На главную</a> HEADER</header>
    {{> weather}}
    {{stringified}}
    <footer>FOOTER</footer>
</body>
</html>
