<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" type="text/css"  href="C:\Users\Vladislav\Desktop\yandex\webdev-task-1\public\index.css">
</head>
<body>
    <header class="header">
        <div class="city-weather">
            <p class="city-weather__city">{{weather.city}}</p>
            <img class="city-weather__state" src= {{weather.imgSrc}} alt="тип погоды">
        </div>
       
        <div class="header-data">
            <p class="header-data__temp">температура {{weather.weather}} &#8451;</p>
            <p class="header-data__wind">ветер {{weather.wind}} м/c</p>
            
            <table class = "table">
                <tr>
                    <td class="table__col">{{ date }}</td>
                </tr>
                <tr>
                    <td class="table__col">{{ weather }} &#8451;</td>
                </tr>
                <tr>
                    <td class="table__col">{{ wind }} м/c</td>
                </tr>
            </table>
        </div>
    </header>

    <main>
         <div class="news-list">
                <div class="news-list-summury">
                    <p class="news-list-summury__title">{{title}}xcvxcv mx;nlvbnlkjcv bkjvckjnbcnv;lbn;cvnb vcnb vkdsnfkb nckvjbxlkcb vkjxkclvbcxvkvjbxck </p>
                    <p class="news-list-summury__date">{{publishedAt}}</p>
                </div>
                <p class="news-list__description">{{description}}</p>
                <p class="news-list__source"><span>{{source.name}}</span></p>
        </div>
    
    </main>

</body>
</html>
