.article {
  position: relative;
  border-bottom: 1px solid #eee;
}
.article:last-of-type {
  border-bottom: 0;
}
.article:nth-of-type(1) {
  margin-top: 20px;
  border-top: 1px solid #eee;
}
.article__image {
  float: left;
  max-width: 300px;
  margin-right: 20px;
}
.article__main {
  overflow: auto;
}
.article__date {
  float: right;
}
.article__title {
  font-size: 18px;
  font-weight: bold;
}
.article__date,
.article__title {
  line-height: 40px;
}
.article__source {
  position: relative;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
