.categories__title
{
    font-size: 2rem;
    margin: 20px;
}

.category
{
    margin: 20px 50px;
}

.category__a
{
    color: red;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
}

.category__img
{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 5px;
}

.category__name
{
    vertical-align: middle;
}
