.categories {
  padding-top: 40px;
}
.categories__caption {
  font-size: 24px;
}
.categories__category {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 5px 0 0 40px;
}
.categories__category:hover,
.categories__category:visited,
.categories__category:link {
  color: #000;
}
.categories__icon {
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align: middle;
}
.categories__icon_background_business {
  background-image: url("../images/business.png");
}
.categories__icon_background_entertainment {
  background-image: url("../images/entertainment.png");
}
.categories__icon_background_general {
  background-image: url("../images/general.png");
}
.categories__icon_background_health {
  background-image: url("../images/health.png");
}
.categories__icon_background_science {
  background-image: url("../images/science.png");
}
.categories__icon_background_sports {
  background-image: url("../images/sports.png");
}
.categories__icon_background_technology {
  background-image: url("../images/technology.png");
}
.categories__name {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}
