.categories {
    grid-area: c;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.categories__header {
    font-size: 20px;
    font-style: unset;
    font-weight: bolder;
}

.categories__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    text-decoration: none;
    color: #000;
}

.categories__image {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.categories__name {
    font-size: 20px;
}
