<<<<<<< HEAD
.footer {
=======
footer {
>>>>>>> a2fefc59ae1d93e7c33b0d9143af6f5deeaedd54
    background: #474747;
    color: #fff;
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
    font-size: 15px;
<<<<<<< HEAD
}
=======
}
>>>>>>> a2fefc59ae1d93e7c33b0d9143af6f5deeaedd54
