.news__header
{
    text-align: center;
    font-size: 3rem;
}

.all-news__topic-content
{
    border-top: 1px solid black;
    padding-top: 20px;
    margin-top: 40px;
}

.all-news__topic-content:last-child
{
    border-bottom: 1px solid black;
}

.topic-content__name
{
    display: inline-block;
    margin-top: 0px;
}

.topic-content__time,
.topic-content__author
{
    float: right;
    padding-right: 60px;
}

.topic-content__description
{
    display: flex;
    align-items: flex-start;
}

.description__image
{
    width: 250px;
    margin-right: 30px;
}

.description__text
{
    margin-right: 30px;
    hyphens: auto;
}







