.weather
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.weather__info,
.weather__content
{
    margin: 0 15px;
}

.weather__img
{
    width: 100px;
}

.weather__columns
{
    padding-right: 10px;
}

.weather__allDays
{
    border: 2px solid black;
}

td
{
    border: 2px solid black;
    text-align: center;
}

table
{
    border-collapse: collapse;
}

.weather__today
{
    font-size: 30px;
}

.weather__today__wind,
.weather__today__temp
{
    width: 50px;
    vertical-align: middle;
}

.weather__oneDay__wind,
.weather__odeDay__temp-img
{
    width: 20px;
}

.app__name
{
    text-align: center;
}