.news-item
    border-bottom 2px solid black
    height 170px
    &__head
        display flex
        justify-content space-between
    &__description
        height 100px
        & > p > img
            float left
            height 100px
        &:after
            clear both
    &__source
        display flex
        justify-content flex-end
