<div class="head">
    <div class="head__left-block">
        {{#if mainPage}}
        {{^}}
            <a href="/">Main page</a>
        {{/if}}
    </div>
    <div class="head__name">{{ siteName }}</div>
    <div class="head__right-block"></div>
</div>
