<header class="page-head">
    <div class="head-content-wrap">
        {{#if nonMain}}
            <a class="back-link" href="{{staticBasePath}}?query={{widget.city}}">На главную</a>
        {{/if}}
        <h1 class="header">WeatherBomb</h1>
    </div>
</header>
