<header class="page-head">
    <div class="page-head__content">
        {{#if nonMain}}
            <a class="page-head__back-link" href="/?query={{widget.city}}">На главную</a>
        {{/if}}
        <h1 class="page-head__header">WeatherBomb</h1>
    </div>
</header>
