<div class="index-menu"></div>
    <h3>Категории новостей:</h3>
    <div class="menu-list">
        <a>Бизнес</a>
        <a>Развлечения</a>
        <a>Общее</a>
        <a>Здоровье</a>
        <a>Науки</a>
        <a>Спорт</a>
        <a>Технологии</a>
    </div>
</div>