<div class="sub-widgets-container__content">
  <span class="sub-widgets-container__date sub-widgets-container__item">{{this.date}}</span>
  <div class="sub-widgets-container__temp sub-widgets-container__item">{{this.temperature}} &deg;с</div>
  <div class="sub-widgets-container__wind sub-widgets-container__item">{{this.wind}} м/с</div>
</div>
