<div class="sub-widget">
    <span class="widget-date sub-widget-item">{{this.date}}</span>
    <div class="sub-temp sub-widget-item">{{this.temperature}} &deg;с</div>
    <div class="sub-wind sub-widget-item">{{this.wind}} м/с</div>
</div>
