<div class="widget">
    <div class="widget-content">
        <figure class="weather-icon-container">
            <span class="city-name">{{ widget.city }}</span>
            <img src="{{weatherApiBasePath}}static/img/weather/c.svg" class="weather-icon">
        </figure>
    </div>
</div>
