.news
{
    background: #f6f4ff;
    display: flex;
    margin: 10px;
    border-radius: 5px;
    border: solid #9babff 1px;
}

.news:hover
{
    box-shadow: #7d5bff 0 0 3px;
}

.newsHeader
{
    width: 35%;
	border-right: solid #9babff 1px;
    border-radius: 25px;
	margin-right: 2px;
}

.newsMain
{
    width: 55%;
	border-right: solid #9babff 1px;
    border-radius: 25px;	
	margin-right: 2px;
}

.newsFooter
{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsHeader__img
{
    max-width: 400px;
    max-height: 300px;
}

.pageName
{
    display: flex;
    justify-content: center;
}

.footer
{
    display: flex;
    justify-content: space-between;
    font: 20px fantasy;
}
