.daily-weather
{
    border: 1px solid black

    &__date
    {
        padding: 3px
        font-size: .7em
        border-bottom: 1px solid black
        text-align: center
    }

    &__content
    {
        padding: 3px

    }
}
