.header
{
    padding 10px 0
    box-sizing border-box

    &__title
    {
        text-align center
        margin 0
    }

    &__return-link
    {
        color #3072c4
        text-decoration none
        position absolute
        margin-top 10px

        &:hover
        {
            text-decoration underline
        }
    }
}

