body
{
    padding: 0 30px 0px 30px;
}

header
{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.article__header
{
    display: flex;
    justify-content: space-between;
}

.article__source
{
    display: flex;
    justify-content: flex-end;
}

.article__image
{
    height: 20%;
    width: 20%;
    margin-right: 15px;
}

.article__description
{
    font-size: 24px;
    max-width: 60%;
    margin: 0;
}

.article__content
{
    display: flex;
}

a
{
    color: #000;
    text-decoration: none;
}

.news-categories
{
    display: flex;
    flex-direction: column;
}

.news-categories h2
{
    font-size: 30px;
    align-self: center;
}

.news-category
{
    display: flex;
    margin-bottom: 20px;
    align-self: center;
}

.news-category__icon
{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.news-category__link
{
    font-size: 40px;
}

.weather-now__icon
{
    width: 150px;
    height: 150px;
}

.widget
{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

.widget__general,
.widget__forecast
{
    display: flex;
    flex-direction: column;
}

.widget__general
{
    margin-right: 50px;
}

.weather-widget__forecast
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.weather-widget__forecast-item
{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 10px;
}

.weather-now__info
{
    display: flex;
    flex-direction: row;
}

.weather-now__info img
{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}