.body {
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    position: absolute;
    text-align: center;
}

.start-page {
    background-color: black;
    color: blanchedalmond;
}

.header
{
    padding: 30px;
    font-size: 24px;
}

.main-page-header
{
    font-size: 36px;
}
