.weather-widget {
    display: grid;
    grid-template-areas: 'c c'
                         'i d'
                         'i f';
}

.weather-widget__city {
    grid-area: c;
}

.weather-widget__icon {
    grid-area: i;

    width: 24px;
    height: 24px;
}

.weather-widget__details {
    grid-area: d;

    width: 100px;
    height: 25px;
}

.weather-widget__forecast {
    grid-area: f;

    width: 100px;
    height: 25px;
}
