.weather-widget
{
    padding: 3px
    padding-left: 5%
    position: relative
    width: 100%
    display: flex
    justify-content: center
    box-sizing: border-box

    &__term-icon,
    &__wind-icon
    {
        width: 18px
    }

    &__content-info
    {
        margin-right: 5%
    }

    &__image
    {
        padding-top: 10px
        height: 70%
    }

    &__daily-weather-container
    {
        display: flex
        position: relative
        right: 0
    }
}
