.footer
{
    border-width: 1px 2px;
    border-style: solid;
    border-color: #ddd;
    border-bottom-width: 2px;
    padding: 20px 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}