{{#extend "base"}}

    {{#content "styles"}}
        <h1>Goodnight Moon</h1>
    {{/content}}

    {{#content "header"}}
        <h1>Goodnight Moon</h1>
    {{/content}}

    {{#content "main"}}
        <p>Dolor sit amet.</p>
    {{/content}}

    {{#content "footer"}}
        <p>MIT License</p>
    {{/content}}

{{/extend}}
