{{#extend "base"}}

    {{#content "title"}} {{ title }} {{/content}}

    {{#content "styles"}}
        <link rel="stylesheet" href="/styles/page.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/footer.css">
    {{/content}}

    {{#content "header"}}
        {{> header }}
    {{/content}}

    {{#content "main"}}
        <p>Dolor sit amet.</p>
    {{/content}}

    {{#content "footer"}}
        <p>MIT License</p>
    {{/content}}

{{/extend}}
