<header class="daily-weather__date">
    {{ dateString }}
</header>
<div class="daily-weather__temperature">
        {{ tempSign }}&thinsp;{{ absTemperature }} °C
</div>
<div class="daily-weather__wind-speed">
    <p>
        {{ windSpeed }} <sup>м</sup>/</sub>с</sub>
    </p>
</div>
