<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{#block "styles"}} {{/block}}
</head>

<body class="page">
    <header class="page__header">
        {{#block "header"}} {{/block}}
    </header>

    <main class="page__main">
        {{#block "main"}} {{/block}}
    </main>

    <footer class="page__footer">
        {{#block "footer"}} {{/block}}
    </footer>
</body>

</html>
