<div class="header">
    <h1 class="header__title">
        <span class="header__brand">Musk</span>
        <span class="header__project"><a class="link link_project" href="/">News</a></span>
    </h1>
</div>
