<div class="header">
    {{#if back}}
        <a class="header__back" href="{{back.url}}">{{back.text}}</a>
    {{/if}}
    <h1 class="header__title">
        <span class="header__brand">Musk</span> <span class="header__project">News</span>
    </h1>
</div>
