<div class="weather-day">
    <div class="weather-day__date">{{date}}</div>
    <div class="weather-day__temperature">{{temperature}} ℃</div>
    <div class="weather-day__wind">{{windSpeed}} м/c</div>
</div>
