h2
{
    text-align: center;
    margin: 10px auto 5px;
    font-size: 1.4rem;
}

.categories-list
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category
{
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    height: 54px;
    margin: 4px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.category:hover
{
    box-shadow: black 2px 2px 2px;
}

.category:active
{
    box-shadow: black 3px 3px 3px;
}

.category > div
{
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.category__picture
{
    width: 48px;
    margin-left: 10px;
}
