.weather
{
    text-align: center;

    &__city
    {
        margin-top: 5px;
    }

    &__column
    {
        display: inline-block;
        vertical-align: top;
    }

    &__column:first-of-type
    {
        margin-right: 20px;
    }

    &__row
    {
        margin: 10px 0;
        text-align: left;
    }

    &__label,
    &__value
    {
        display: inline-block;
        vertical-align: middle;
    }

    &__label
    {
        width: 30px;
    }

}
