.weather-daily
{
    border: solid 1px;
    border-collapse: collapse;
    text-align: center;

    & th,
    & td
    {
        border-style: solid;
        border-width: 0 1px;
        padding: 5px;
    }

    &__header
    {
        border-bottom: solid 1px;
    }
}
