.news
    position absolute
    top 390px
    width 800px

    &__title
    &__date
        display inline-block
        vertical-align top

    &__title
        width 70.5%

    &__translate-title
        color #ff0080

    &__date
    &__author
        margin-left 15px
        width 25%

    &__description
        text-align justify
        width 40%

    &__description
    &__author
    &__img
        display inline-block
        vertical-align top

    &__img img
        width 200px

    &__img
        width 30%

    &__icon
        width 30px
        height 30px

    &__category
        text-align center    

    &__category:hover
        border .5px ridge #ff0080
