<ul class="menu">
    <li>
        <i class="fa fa-briefcase"></i>
        <a href="/news/business">Business</a>
    </li>
    <li>
        <i class="fa fa-smile"></i>
        <a href="/news/entertainment">Entertainment</a>
    </li>
    <li>
        <i class="fa fa-align-justify"></i>
        <a href="/news/general">General</a>
    </li>
    <li>
        <i class="fa fa-heartbeat"></i>
        <a href="/news/health">Health</a>
    </li>
    <li>
        <i class="fa fa-flask"></i>
        <a href="/news/science">Science</a>
    </li>
    <li>
        <i class="fa fa-volleyball-ball"></i>
        <a href="/news/sport">Sport</a>
    </li>
    <li>
        <i class="fa fa-rocket"></i>
        <a href="/news/technology">Technology</a>
    </li>
</ul>
