<ul class="menu">
    {{#each siteCategories }}
        <li>
            <i class="fa fa-briefcase"></i>
            <a href="/news/{{ toLowerCase this }}">{{ this }}</a>
        </li>
    {{/each}}
</ul>
