{{> head}}
<body>
    <div class="main-page">
        <div class="main-page__item">
            {{> header goToHomePage=1 city=city country=country}}
        </div>
        <div class="main-page__item">
            {{> fullWeather }}
        </div>
        <div class="main-page__item">
            {{> fullNews }}
        </div>
        <div class="main-page__item">
            {{> footer }}
        </div>
    </div>
</body>
</html>
