@import 'header.scss';
@import 'weather.scss';
@import 'newslist.scss';
@import 'footer.scss';

html, body {
    margin: 0;
    padding: 0;
}

.news-item {
    margin: 5px 0;
}

.weather-widget {
    margin: 0 auto;

}
