.article
{
    border-bottom: 2px solid #ddd;
    padding: 20px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "t t p"
        "i d d"
        "i s s";
}

.article:last-of-type
{
    border-bottom: none;
}